*.zip
*.mp4
*.pdf
*.parquet
*.jar
*.serverless
*.pack
*.so
*.sav
*.xlsx
*/output_model/*
*/.ipynb_checkpoints/*
*/node_modules/*
*/.serverless/*
*.ipynb_checkpoints*
!*h2o-genmodel.jar
!GBM_grid_1_AutoML_1_20220602_224459_model_101.zip