*.zip
*.mp4
*.pdf
*.parquet
*.jar
*.serverless
*.pack
*.so
*.sav
*.xlsx
*/output_model/models/candidates/*
*/.ipynb_checkpoints/*
*/node_modules/*
*/.serverless/*
*.ipynb_checkpoints*
!*h2o-genmodel.jar
!/output_model/models/best/*.zip
!/deploy/*.zip
!/deploy/h2o-genmodel.jar
!/deploy_glue/sparkling-water-assembly-scoring_2.12-3.36.1.1-1-3.1-all.jar
